<a href="https://colab.research.google.com/github/Emzy007/PythonPractice/blob/main/LearnOpenpyxl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Understanding openpyxl

In [2]:
import os
#from openpyxl import Workbook
import openpyxl as xl

In [3]:
# Print the current working directory
print(os.getcwd())
print("git")

/workspaces/PythonPractice/AdvPython/OpenPyXL
git

In [ ]:
'''
# Create a new workbook
new_wb = xl.Workbook()

# Create the first sheet
ws1 = new_wb.active
# By default the workbook will have 1 worksheet so renaming the default worksheet
ws1.title = "Sheet1"

# Create the second sheet
ws2 = new_wb.create_sheet("Sheet2")

# Save the workbook as an xlsx file
fname = input('Enter the file name: ')
if os.path.exists(f'/content/{fname}'):
  print("File exists! Unable to save!")
else:
  new_wb.save(fname)
  print(f"File saved as {fname}!")
  '''

Download or create a new Excel file

In [7]:
'''
# Dowloading a sample Excel file from internet

import os
import six.moves.urllib.request

url = "https://go.microsoft.com/fwlink/?LinkID=521962"
filename = os.path.basename(url)

six.moves.urllib.request.urlretrieve(url, filename)
'''

('?LinkID=521962', <http.client.HTTPMessage at 0x79d0b1b31510>)

In [71]:
wb = xl.load_workbook('samplefile.xlsx')
print('Type of wb:', type(wb))
print('Active worksheet object :', wb.active)
print('Worksheet names :', wb.sheetnames)
print('Worksheet objetcs :', wb.worksheets)
ws = wb['Sheet1']
print('Type of ws:', type(ws))

Type of wb: <class 'openpyxl.workbook.workbook.Workbook'>
Active worksheet object : <Worksheet "Sheet1">
Worksheet names : ['Sheet1', 'emp', 'emp1']
Worksheet objetcs : [<Worksheet "Sheet1">, <Worksheet "emp">, <Worksheet "emp1">]
Type of ws: <class 'openpyxl.worksheet.worksheet.Worksheet'>

In [ ]:
# Enter random numbers in cells
'''
import random
for i in range(1,999):
  ws[f'A{i}'] = random.randint(100, 999)
  ws[f'B{i}'] = random.randint(100, 999)
'''

In [ ]:
#Accessing cells
cellA1 = ws.cell(1,1)
cellB1 = ws['B1']
cellC1 = ws['C1']

#Accesing cell contents
print(f'A1 = {cellA1.value}\nB1 = {cellB1.value}\nC1 = {cellC1.value}')

#Accessing using row or column tuple - This will print entire sheet. <<WARNING
print("Accessing cell values row-wise :\n")
all_rows = tuple(ws.rows)
for rows in all_rows:
    for col in rows:
        print(col.value, end=' ')
    print()
print("Accessing cell values column-wise :\n")
all_columns = tuple(ws.columns)
for cols in all_columns:
    for row in cols:
        print(row.value, end=' ')
    print()

In [34]:
#Getting max rows and cols
print("Total rows: ",ws.max_row)
print("Total columns: ",ws.max_column)
#Print headers
cells = ws['A$1':'Z$1']
for row in cells:
  for col in row:
    if col.value!= None:
      print(col.value, end=' || ')
  print()

Total rows:  701
Total columns:  26
Segment || Country || Product || Discount Band || Units Sold || Manufacturing Price || Sale Price || Gross Sales || Discounts ||  Sales || COGS || Profit || Date || Month Number || Month Name || Year ||

In [ ]:
print("Accessing cell values row-wise :\n")
all_rows = tuple(ws.rows)
for rows in all_rows:
    for col in rows:
        print(col.value, end=' ')
    print()
print("Accessing cell values column-wise :\n")
all_columns = tuple(ws.columns)
for cols in all_columns:
    for row in cols:
        print(row.value, end=' ')
    print()

In [ ]:
#Access entire column or rows
for row in ws[2]:
    print(row.value, end=' ')

print("Entire column B:")
for col in ws['A']:
    print(col.value)

In [47]:
# Create a new sheet in existing workbook samplefile.xlsx

# Create a new sheet
new_sheet = wb.create_sheet("emp")

# Save the workbook
wb.save("samplefile.xlsx")
print('Worksheet names :', wb.sheetnames)

#Selecting newly creating worksheet
ws = wb['emp']

Worksheet names : ['Sheet1', 'emp', 'emp1']

Enter data in emp sheet

In [49]:
'''
ws = wb['emp']

ws['B1'] = 'EmpName'
ws['B2'] = 'Ramesh'
ws['B3'] = 'Rakesh'
ws['B4'] = 'John'
ws['B5'] = 'Sara'
ws['B6'] = 'Sash'

ws['C1'] = 'Salary'
ws['C2'] = 22001
ws['C3'] = 26501
ws['C4'] = 15000
ws['C5'] = 30590
ws['C6'] = 45000

ws['D1'] = 'Dept'
ws['D2'] = 'ETA'
ws['D3'] = 'LEX'
ws['D4'] = 'IAP'
ws['D5'] = 'ETA'
ws['D6'] = 'LEX'

wb.save('samplefile.xlsx')
'''

**Printing in Tabular format**

In [77]:
ws = wb['emp']
all_rows = tuple(ws.rows)
for rows in all_rows:
    for col in rows:
        print(col.value, end='\t')
    print()

EmpID	EmpName	Salary	Dept
1	Ramesh	22001	ETA
2	Rakesh	26501	LEX
3	John	15000	IAP
4	Sara	30590	ETA
5	Sash	45000	LEX
6	Payal	10000	None
7	David	10000	None

**Retrieve the details of the employee whose EmpID=3**

In [67]:
emp_id_to_match = 3
flag = 0
for row in range(2, ws.max_row+1):
    if ws.cell(row,1).value == emp_id_to_match:
        cells = ws[row]
        flag = 1
        break
if flag:
    for cell in cells:
        print(cell.value, end=' ')
else:
    print('Employee detail does not exist')

3 John 15000 IAP

**Retrieve the employees whose Dept='ETA'**

In [74]:
# prompt: retrieve the employees who Dept='ETA'

ws = wb['emp']
dept_to_match = 'ETA'
cells=[]
for col in range(1, ws.max_column+1):
    if ws.cell(1, col).value == 'Dept':
        for row in range(2, ws.max_row+1):
             if ws.cell(row, col).value == dept_to_match :
                cells.append(ws['B' + str(row)].value)
        break
if cells:
    for cell in cells:
        print(cell)
else:
    print('No Employees exist in ' + dept_to_match  + ' department')

Ramesh
Sara

**Append rows to a sheet**

In [80]:
ws = wb['emp']
#Add as a list
ws.append([6,'Payal',10000])
#Adding as a tuple
ws.append((7,'David',10000))
wb.save('samplefile.xlsx')

#validating the entries
ws = wb['emp']
all_rows = tuple(ws.rows)
for rows in all_rows:
    for col in rows:
        print(col.value, end='\t')
    print()

EmpID	EmpName	Salary	Dept
1	Ramesh	22001	ETA
2	Rakesh	26501	LEX
3	John	15000	IAP
4	Sara	30590	ETA
5	Sash	45000	LEX
6	Payal	10000	None
7	David	10000	None
6	Payal	10000	None
7	David	10000	None

In [79]:
#Accessing through cell traversal

EmpID	EmpName	Salary	Dept
1	Ramesh	22001	ETA
2	Rakesh	26501	LEX
3	John	15000	IAP
4	Sara	30590	ETA
5	Sash	45000	LEX
6	Payal	10000	None
7	David	10000	None

In [ ]:
#Using openpyxl delete_rows()
import openpyxl as xl
wb=xl.load_workbook(r'employees.xlsx')
ws.xb['Emp']
id_to_be_deleted = 2
for row_num in range(2,ws.max_rows+1):
    if ws.cell(row_num).value == id_to_be_deleted:
        ws.delete_rows(row_num,1)